
@font-face {
  font-family: poppins-medium;
  src: url(../assets/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(../assets/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: poppins-light;
  src: url(../assets/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-extra-bold;
  src: url(../assets/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: poppins-thin;
  src: url(../assets/Poppins/Poppins-Thin.ttf);
}
p,div,button,h1,h2,h2,h4,h5{
  color:white;
}
p, div, button{
  font-family: poppins-medium
}
h1,h2{
  font-family: poppins-extra-bold
}
h3,h4,h5{
  font-family: poppins-bold;
}
select{
  padding:4px 8px;
  font-family: poppins-medium;
  background-color:  #121212;
  color:white;
  border: solid 1px rgb(189, 189, 189);
}
input{
  font-family: poppins-light;
  font-size: 0.8rem;
  padding:4px 8px;
  background-color: #121212;
  color:white;
}

div{
  padding:0px 0px;
  margin: 0px 0px;
}
body{
  padding:0px 0px;
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  font: impact;
  background-color: black;
}
#bits{
  font-size:1.2rem;
  font-family: poppins-bold;
  border-style: solid;
  border-width: 2px;
  width:80%;
  padding:10px 0;
  text-align: center;
  background-color: black;
  color:white
}
#board{
  width:90%;
  background:#121212;
  border:solid 4px rgb(255, 203, 126);
  color:white;
  font-family: poppins-light;
  margin-bottom: 1.5vh;
  align-self: center;
}
#scrolly-thingy{
  color:black;
  font-size: 1.4rem;
  font-family: monospace;
}
.scrolly-thingy-container
{
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  width: 70%;
  padding:10px;
  
  
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  margin-bottom: 10vh;
  transform-style: preserve-3d;
  transform:translateZ(-50px);
}

.main-inventory-container{
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
}

#loading-screen{
  position: absolute;
  top:0;
  left:0;
  background-color: black;
  width:100vw;
  height:100vh;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  
}
.loading-screen{
  display: flex;
}
.load-hidden{
  display: none;
}

#main-button{

  padding:10px 10px;
  z-index: 100;
  text-align:center;
  color:black;

  
  user-select: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 2rem;
  background-color: rgb(255, 203, 126);
  min-height:14vh;
  width:60%;
  background-image: url("../assets/images/bit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
#main-button:hover{
  color:black;
  background-color:initial;
  background-color: rgba(255,155,8,1);
  transform: scale(1.03)
  
}
#main-button:active{
  transform: translateY(0px) scale(.97);
  
}
#create-trade-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%
}
.leaderboardList{
display: flex;
  flex-direction: column;
}
.gray-card{
  background-color:rgb(230, 230, 230);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding:6px 8px;
  margin-top:8vh;
  width:80%;
  
}
.card-header{
  color:black;
}
.item-dropdown{
  margin-bottom: 1vh;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
  width:80%;
  text-align:left;
}

.btn:hover {background: rgb(51, 51, 51);color:white;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

#sketch-container{
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  width:43vw;
}
.mining-container{
  background-color:transparent;
  width:43vw;
  height:98vh;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inventory-container{
  margin-top: 14%;
  display: grid;
  grid-template-columns: auto auto;
  width:100%;
  height:40%;
  
}
.icon-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  width:80%;
  background-color: #121212;
  border-radius:1rem;
  border: solid 2px #929292;
  margin-bottom:0.8vh;
}
.inventory-text{
  color:white;
  font-size:0.8rem;
  align-self: center;
  font-family: poppins-medium;
  border-top:none;
  margin-left: 10px;
}
.inventory-icon{
  width: 40px;
  height:40px;
  position:absolute;
  top:6px;
  right:20px;
}

.upgrade-container{
 background-color: black;
  width:28vw;
  height:98vh;
  padding: 1vh 1vw;
  border-left: solid 1px white;
}

.market-container{
  
  width:43vw;
  height:98vh;
  padding: 1vh 1vw;
  background-color:black;
   border-left: solid 1px white;
}
.trade-btn,idle{
  width:80%;
  background-color:#121212;
  height:auto;
  padding:8px;
  border: solid 2px rgba(255,155,8,1);
}
.trade-btn:hover{
  background-color:rgba(255,155,8,1);
  transform: scale(1.05);
}
.auth-box{
  background-color: #121212;
  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height:08vh;
  width:80%;
  
}

#create-trade-container{
  
}

#create-trade-button{
  margin-top:2vh;
  color:#121212;
}
#create-trade-button:hover{
  color:white;
}
.trade-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:5vh;
  width:100%;
}
.material-button,.idle-button{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  color:white;
  cursor: pointer;
  display: inline-block;
  width:80%;
  text-align:left;
}
.material-button:hover,.idle-button:hover {
  background: rgb(51, 51, 51);
  color:white;}
#sign-out-button{
  
  background-color:rgb(73, 73, 73);
  text-align: center;
  height:100%;
  width:60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.idle-description{
  font-size: 0.8rem;
  background-color:rgb(51, 51, 51);
  width:80%;
  min-height:5%;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  display: none;
  padding:10px 6px;
}

.open{
  border-radius: 1rem;
  border:solid 2px rgba(255,155,8,1);
  display: flex;
  color:white;
  background-color:rgba(255, 255, 255, 0);
}
.nav-btn{
  
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
  width:80%;
  text-align:left;
  margin-top:4vh;
  border:solid 2px rgba(240, 46, 170, 0.4);
}
.nav-btn:hover{
  background-color: #4e4e4e;
  transform: translateY(4px) ;
  
}
#username{
  margin:8px 20px;
}
#sign-out-button:hover{
  background-color:white;
  color:black;
}
